@inherits LayoutComponentBase
@inject ILogger<MainLayout> Logger
@inject ThemeSwitch ThemeSwitch

@* here goes app div? *@
<div class="sidebar">
    <NavMenu/>
</div>

<div class="main" @onkeydown="ProcessKeyDown">
    <div class="px-4 top-row">
        <button class="btn btn-primary @ThemeSwitch.ThemeString" @onclick="ChangeTheme">Change theme</button>
        <a class="ml-md-auto" href="http://blazor.net" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    void ChangeTheme()
    {
        ThemeSwitch.Theme = (Theme)(((int)ThemeSwitch.Theme + 1) % 3);
    }

    void ProcessKeyDown(KeyboardEventArgs args)
    {
        Logger.Trace()?.Write($"Key:{args.Key} Alt:{args.AltKey} Ctrl:{args.CtrlKey} Shift:{args.ShiftKey} Meta:{args.MetaKey}");
    }

}