<div>

</div>

@code {
    // TODO: reuse magma styles here I guess?
    // sm, md, lg, xl - all this stuff?
    // maybe mg-prefix is good for this kind of thing?
    // text-mg-system-color
    // mg-secondary-color
    // mg-red, mg-blue etc
    // mg-gap, mg-gap-xs etc
}