@inherits SubscribingComponentBase

@inject StateStorage _dataStorage
@inject ThemeSwitch _themeSwitch

<h3>SimpleChat</h3>

<div style="height:100px;overflow-y:scroll">
    <ul>
        <Virtualize Context="message" Items="@_chatData.Messages" ItemSize="5">
            <li>
                @message
            </li>
        </Virtualize>
    </ul>
</div>
<div>
    <input @bind="@_chatData.CurrentMessage" type="text" width="300">
    <button class="btn btn-primary @_themeSwitch.ThemeString" @onclick="AddMessage">Click me</button>
</div>

@code {

    private SimpleChatData _chatData = null!;

    protected override ComponentData[] Subscriptions => new ComponentData[] { _themeSwitch };

    protected override void OnParametersSet()
    {
        _chatData = _dataStorage.GetOrCreateNew<SimpleChat, int, SimpleChatData>(0);
        base.OnParametersSet();
    }

    private void AddMessage()
    {
        if (_chatData.CurrentMessage is not null)
        {
            _chatData.AddMessage(_chatData.CurrentMessage);
            _chatData.CurrentMessage = null;
        }
    }

}