@typeparam T where T : struct

<div class="grid grid-rows-1 grid-cols-8">
    @for (var i = 0; i < 8; i++)
    {
        var color = Vector.Data[i].Color;
        var colorString = $"border-color: rgb({color.R} {color.G} {color.B})";
        var value = Vector.Data[i].Element.Read<T>();
        <span class="border border-black p-4" style="@colorString">
            @value
        </span>
    }
</div>

@* This should generate a grid *@

@code {
    [Parameter]
    public UIVector<T> Vector { get; init; }
    
    private bool BitDisplay { get; set; } = false;
    
    // private string 
}