<div @attributes="@AdditionalAttributes" class="h-4 w-4 block bg-black @AdditionalAttributes?.TryGetValuesAsString("class")" ></div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}