@attribute [Route($"/{nameof(Draggables)}")]

<DraggableItem Context="message">
    <div style="background-color: red; inline-size: 30vw">
        @if (message is {})
            {
                foreach (var propertyInfo in message.GetType().GetProperties())
                {
                    <p>@propertyInfo.Name is @propertyInfo.GetValue(message)</p>
                }
            }
        else
        {
            <p>Empty!</p>
        }
    </div>
</DraggableItem>

@code {

}