@attribute [Route($"/{nameof(Modals)}")]



<h3>Modals Page</h3>

<div>
    <button class="btn btn-primary" @onclick="ShowModalClick">Show modal1</button>
    <button class="btn btn-primary" @onclick="ShowModal2Click">Show modal2</button>
    <button class="btn btn-primary" @onclick="ShowBothModalsClick">Show both</button>
</div>

<Modal OnCancel="OnModalCancel" OnOk="OnModalOk" Show="@_showModal">
    <Body>
    <Counter IncrementAmount="15"></Counter>
    </Body>
</Modal>
<Modal OnCancel="OnModal2Cancel" OnOk="OnModal2Ok" Show="@_showModal2">
    <Body>
    <Counter IncrementAmount="25"></Counter>
    </Body>
</Modal>

@code
{
    private bool _showModal;
    private bool _showModal2;

    private void OnModalCancel()
    {
        _showModal = false;
        StateHasChanged();
    }

    private void OnModal2Cancel()
    {
        _showModal2 = false;
        StateHasChanged();
    }

    private void OnModalOk()
    {
        Console.WriteLine("Modal ok");
        _showModal = false;
        StateHasChanged();
    }

    private void OnModal2Ok()
    {
        Console.WriteLine("Modal2 ok");
        _showModal2 = false;
        StateHasChanged();
    }

    private void ShowModalClick()
    {
        _showModal = !_showModal;
    }

    private void ShowModal2Click()
    {
        _showModal2 = !_showModal2;
    }

    private void ShowBothModalsClick()
    {
        _showModal = true;
        _showModal2 = true;
    }

}