@attribute [Route($"/{nameof(LearningGrounds)}")]

<h3>LearningGrounds</h3>

<h4>Spanning Columns:</h4>
<SpanningColumns/>

<h4>Spanning Rows:</h4>
<SpanningRows/>

<h4>Long Table:</h4>
<LongTable/>

<h4>Simple chat</h4>
<SimpleChat/>

<h4>TODO: Modals</h4>

@code {
    
}