<div class="h-4">
    123
    <div class="h-4">
        123
    </div>
</div>
<h3>Fortresses</h3>
<div class="h-4">
    123
    <div class="h-4">
        123
        <div class="h-4">
            <Matrix Data="@_data"/>
        </div>
    </div>
</div>

@code {
    readonly int[][] _data =
    {
        new[] { 1, 1, 1, 1, 0, 0, 1, 0, 0, 3 },
        new[] { 1, 1, 1, 0, 1, 0, 0, 1, 0, 2 },
        new[] { 1, 1, 1, 0, 0, 1, 0, 0, 1, 1 },
        new[] { 1, 0, 0, 1, 1, 1, 1, 0, 0, 2 },
        new[] { 0, 1, 0, 1, 1, 1, 0, 1, 0, 2 },
        new[] { 0, 0, 1, 1, 1, 1, 0, 0, 1, 2 },
        new[] { 1, 0, 0, 1, 0, 0, 1, 1, 1, 3 },
        new[] { 0, 1, 0, 0, 1, 0, 1, 1, 1, 2 },
        new[] { 0, 0, 1, 0, 0, 1, 1, 1, 1, 3 }
    };
}