@inject ILogger<Counter> Logger
@inject ComponentDataProvider DataProvider
@inject ThemeSwitch ThemeSwitch
@inherits SubscribingComponentBase

<h1>@($"Counter: {IncrementAmount}")</h1>

<p>Current count: @_counterData!.Current</p>
<p>Clicks (this session): @_clicksInThisSession</p>
<p>Clicks (total): @_counterData.TotalClicks</p>
<button class="btn btn-primary @ThemeSwitch.ThemeString" @onclick="OnClick">Click me</button>

@code {

    private CounterData? _counterData;
    private int _clicksInThisSession;

    [Parameter]
    public int IncrementAmount { get; init; } = 1;

    protected override ComponentData[] Subscriptions => new ComponentData[] { ThemeSwitch };

    protected override void OnParametersSet()
    {
        Logger.Trace()?.Write($"{nameof(OnParametersSet)}");
        Logger.Trace()?.Write($"Getting CounterData({IncrementAmount})");

        _clicksInThisSession = 0;
        _counterData = DataProvider.GetOrCreateNew<Counter, int, CounterData>(IncrementAmount);
    }

    protected override void OnInitialized()
    {
        Logger.Trace()?.Write($"{nameof(OnInitialized)}");
    }

    private void OnClick(MouseEventArgs e)
    {
        Logger.Trace()?.Write($"CtrlKey: {e.CtrlKey}. AltKey: {e.AltKey}. ShiftKey: {e.ShiftKey}");

        _clicksInThisSession++;
        _counterData!.TotalClicks++;

        switch (e.CtrlKey, e.ShiftKey, e.AltKey)
        {
            case (true, true, true):
                Clear();
                return;
            case (true, true, _):
                ChangeCount(-IncrementAmount * IncrementAmount);
                return;
            case (false, true, _):
                ChangeCount(-IncrementAmount);
                return;
            case (true, false, _):
                ChangeCount(IncrementAmount * IncrementAmount);
                return;
            default:
                ChangeCount(IncrementAmount);
                return;
        }
    }

    private void Clear()
    {
        Logger.Trace()?.Write(nameof(Clear));

        _counterData!.Current = 0;
    }

    private void ChangeCount(int amount)
    {
        Logger.Trace()?.Write(nameof(ChangeCount));

        _counterData!.Current += amount;
    }


}