@inject ILogger<CounterNavLink> Logger
@inject ComponentDataProvider DataProvider
@implements IDisposable

<NavLink class="nav-link" href="@Href">
    <span aria-hidden="true" class="oi oi-plus"></span> Counter: @IncrementAmount @_counterData!.Current
</NavLink>

@code {

    [Parameter]
    public string Href { get; init; } = "";

    [Parameter]
    public int IncrementAmount { get; init; }

    private ComponentEventHandler _handler;

    private CounterData? _counterData;

    protected override void OnParametersSet()
    {
        _counterData = DataProvider.GetOrCreateNew<Counter, int, CounterData>(IncrementAmount);
        _handler.Subscribe(StateHasChanged, _counterData);
    }

    public void Dispose() => _handler.Unsubscribe(_counterData);
}