@inherits SubscribingComponentBase

@inject ComponentDataProvider DataProvider
@inject ThemeSwitch ThemeSwitch

<h3>SimpleChat</h3>

<div style="height:100px;overflow-y:scroll">
    <ul>
        <Virtualize Context="message" Items="@_chatData.Messages" ItemSize="5">
            <li>
                @message
            </li>
        </Virtualize>
    </ul>
</div>
<div>
    <input @bind="@_chatData.CurrentMessage" type="text" width="300">
        <button class="btn btn-primary @ThemeSwitch.ThemeString" @onclick="OnClick">Click me</button>
</div>

@code {
    private SimpleChatData _chatData = null!;

    protected override ComponentData[] Subscriptions => new ComponentData[] { ThemeSwitch };

    protected override void OnParametersSet()
    {
        _chatData = DataProvider.GetOrCreateNew<SimpleChat, int, SimpleChatData>(0);
        base.OnParametersSet();
    }

    private void OnClick()
    {
        if (_chatData.CurrentMessage is not null)
        {
            _chatData.AddMessage(_chatData.CurrentMessage);
            _chatData.CurrentMessage = null;
        }
    }
}